<div>
  <div class="list-group list-group-ehr">
    <a href="#page=scenario_form" class="list-group-item">Scenario Form</a>
    <a href="javascript:clear();" class="list-group-item">Scenario Form</a>
  </div>

</div>