<!-- ***************************** TOP OF PAGE **************************************** -->
<!-- ***** PATIENT SCENARIO SELECTOR PAGE ***** -->
<div id="page-patient-scenario-selector">

  <div class="row header">
    <div class="col-sm-3">
      Patient List
    </div>
    <div class="col-sm-9">
      ELECTRONIC HEALTH RECORDS
    </div>
  </div>
  <br>
  <div class="list-group list-group-ehr">
    <a class="list-group-item">Abbot, Denise</a>
    <a class="list-group-item">Bennett, Lloyd</a>
    <a class="list-group-item">Carlson, Grace</a>
    <a class="list-group-item">Checketts, Stan</a>
    <a href="#page=patient_main&patient=0" class="list-group-item">Demo, Joe</a>
    <a class="list-group-item">Hernandez, Maria</a>
    <a class="list-group-item">Johnson, Joseph</a>
    <a class="list-group-item">Mackie, Carl</a>
    <a class="list-group-item">Russell, Susie</a>
    <a class="list-group-item">Stanislaus, Helen</a>
    <a class="list-group-item">Wilson, Kelly</a>
  </div>

  <div class="row header">
    <div class="col-sm-3">
      Nurse Resources
    </div>

    <div class="col-sm-9">
      ELECTRONIC HEALTH RECORDS
    </div>
  </div>

  <br>
  <div class="list-group list-group-ehr">
    <a href="#" class="list-group-item">DSON OASIS Home Care Admission Form</a>
    <a class="list-group-item">Decker Elementary EHR</a>
    <a class="list-group-item">N321 Practice Assessments</a>
  </div>
  <br>
  
</div>
<!-- id="page-patient-scenario-selector" -->
<!-- ***************************** BOTTOM OF PAGE **************************************** -->






