<div id="page-progress-notes">
  <div class="row header">
    <div class="col-sm-3">
      Progress Notes
    </div>
    <div class="col-sm-9">
      ELECTRONIC HEALTH RECORDS
    </div>
  </div>

 {{>patient_summary}}

  <table class="basic">
    <tbody>
      {{#data.progress_notes}}
      <tr>
        <td class="bu-light-green-box">Date</td>
        <td>{{progress_note_date}}</td>

        <td class="bu-light-green-box">Time</td>
        <td>{{progress_note_time}}</td>

        <td class="bu-light-green-box">Documentation by</td>
        <td>{{progress_note_documentation_by}}</td>
      </tr>
      <tr>
        <td colspan="6">{{progress_note}}</td>
      </tr>
      {{/data.progress_notes}}
    </tbody>
  </table>
  <br>
</div>
