<div id="page-main">
  <div class="row header">
    <div class="col-sm-3">
      {{data.patient_information.first_name}} {{data.patient_information.last_name}}
    </div>
    <div class="col-sm-9">
      ELECTRONIC HEALTH RECORDS
    </div>
  </div>

  <div class="list-group list-group-ehr">

    <a href="#page=patient_consent_to_care&patient={{hash.patient}}" class="list-group-item">Consent to Care</a>
    <a href="#page=patient_surgical_consent&patient={{hash.patient}}" class="list-group-item">Surgical Consent</a>

  </div>

</div>