<div class="container">
  <div class="row fieldlist">
    <div class="col-sm-4">
      <span>Unit:</span> {{data.patient_information.healthcare_facility}}
    </div>
    <div class="col-sm-4">
      <span>Acct #:</span> {{data.misc.account}}
    </div>
    <div class="col-sm-4">
      <span>DOB:</span> {{data.patient_information.date_of_birth}}
    </div>
  </div>

  <div class="row fieldlist">
    <div class="col-sm-4">
      <span>Name:</span> {{data.patient_information.first_name}} {{data.patient_information.last_name}}
    </div>
    <div class="col-sm-4">
      <span>MR #:</span> {{data.patient_information.medical_record_number}}
    </div>
    <div class="col-sm-4">
      <span>Wt:</span> {{data.patient_information.weight}}
    </div>
  </div>

  <div class="row fieldlist">
    <div class="col-sm-4">
      <span>Doctor:</span> {{data.patient_information.attending_physician}}
    </div>
    <div class="col-sm-4">
      <span>Admit:</span> {{data.patient_information.admitted_on}}
    </div>
    <div class="col-sm-4">
      <span>Ht:</span> {{data.patient_information.height}}
    </div>
  </div>

  <div class="row fieldlist">
    <div class="col-sm-12">
      <span>Drug Allergies:</span> {{data.misc.drug_allergies}}
    </div>
  </div>

  <div class="row fieldlist">
    <div class="col-sm-12">
      <span>DIAGNOSIS:</span> {{data.patient_information.diagnosis}}
    </div>
  </div>

  <hr>
</div>