<div id="page-main">
  <div class="row header">
    <div class="col-sm-3">
      Patient Assesments
    </div>
    <div class="col-sm-9">
      ELECTRONIC HEALTH RECORDS
    </div>
  </div>

  <div class="list-group list-group-ehr">
    <a href="#page=form&form=patient_information&patient={{hash.patient}}" class="list-group-item">Patient Information</a>
    <a class="list-group-item">Vital Signs</a>
    <a class="list-group-item">Intake and Output</a>
    <a class="list-group-item">IV</a>
    <a class="list-group-item">Pain</a>
    <a class="list-group-item">Neuro</a>
    <a class="list-group-item">Cardiac</a>
    <a class="list-group-item">Respiratory</a>
    <a class="list-group-item">Gastrointestinal</a>
    <a class="list-group-item">Genitourinary</a>
    <a class="list-group-item">Musculoskeletal</a>
    <a class="list-group-item">Skin</a>
    <a class="list-group-item">Mental Status</a>
  </div>
</div>