<div id="page-main">
  <div class="row header">
    <div class="col-sm-3">
      {{data.patient_information_form.first_name}} {{data.patient_information_form.last_name}}
    </div>
    <div class="col-sm-9">
      ELECTRONIC HEALTH RECORDS
    </div>
  </div>

  <div class="list-group list-group-ehr">
    <a class="list-group-item">Demographics</a>
    <a href="#page=patient_history&patient={{hash.patient}}" class="list-group-item">History and Physical</a>
    <a href="#page=patient_physician_orders&patient={{hash.patient}}" class="list-group-item">Physicians' Orders</a>
    <a href="#page=patient_progress_notes&patient={{hash.patient}}" class="list-group-item">Progress Notes</a>
    <a href="#page=patient_report_of_operation&patient={{hash.patient}}" class="list-group-item">Report of Operation</a>
    <a class="list-group-item">Consultations</a>
    <a class="list-group-item">Consents and Releases (consent to care)</a>
    <a class="list-group-item">Consents and Releases (surgical consent)</a>
    <a class="list-group-item">Discharge Summary</a>
    <a class="list-group-item">Plan of Care</a>
    <a class="list-group-item">I&O and Vital Signs Summary</a>
  </div>

  <!-- ############# Laboratory and Tests section ########### -->
  <div class="row section">
    <div class="col-sm-4">Laboratory and Tests</div>
  </div>
  <div class="list-group list-group-ehr">
    <a class="list-group-item">CBC</a>
    <a class="list-group-item">CMP</a>
    <a class="list-group-item">Urinalysis</a>
    <a class="list-group-item">CT Scan</a>
  </div>

  <!-- ############# Nurse Charting section ########### -->
  <div class="row section">
    <div class="col-sm-4">Nurse Charting</div>
  </div>
  <div class="list-group list-group-ehr">
    <a href="#page=medical_admin_record&patient={{hash.patient}}" class="list-group-item">Medication Administration Record</a>
    <a class="list-group-item">Shift Assessment</a>
    <a class="list-group-item">Nursing Notes</a>
  </div>

</div>