<div id="page-surgical-consent">

  <div class="row header">
    <div class="col-sm-3">
      Informed Consent to Surgical Procedure
    </div>
    <div class="col-sm-9">
      ELECTRONIC HEALTH RECORDS
    </div>
  </div>

  {{>patient_summary}}


  <p><span style="padding-left: 40px;">It</span> is very important to your doctor that you understand and consent to the treatment your doctor is rendering and any surgery your doctor may perform. You should be involved in any and all decisions concerning
    the surgical procedure. Sign this form only after you understand the procedure, the risks, the alternatives, the risks associated with the alternatives, and all of your questions have been answered. Please initial and date directly bbelow this
    paragraph indicating your understanding of this paragraph.</p>


  <div class="row line-250" style="text-align: center;">
    <div class="col-sm-5 handwritten col-md-offset-1" style="border-bottom: 2px solid; text-align: center;">
      {{data.consent_to_surgery.signatory_initials}}
    </div>

    <div class="col-sm-2 handwritten col-md-offset-1" style="border-bottom: 2px solid; text-align: center;">
      {{data.consent_to_surgery.consent_date}}
    </div>
  </div>


  <div class="row">
    <div class="col-sm-5 col-md-offset-1">
      Patient Initials or Authorized Representative
    </div>
    <div class="col-sm-2 col-md-offset-1">
      Date
    </div>
  </div>

</div>
