<div id="page-consent-to-care">

  <div class="row header">
    <div class="col-sm-3">
      Consent to Care
    </div>
    <div class="col-sm-9">
      ELECTRONIC HEALTH RECORDS
    </div>
  </div>

  {{>patient_summary}}

  <p>Consent for Medical Treatment:</p>


  <p>The undersigned hereby authorizes <span style="text-decoration: underline;">Dr.&nbsp;{{data.demographics.attending_physician}}</span> and his/her staff to examine and furnish the patient named above with all treatments, obtain all laboratory tests,
    and provide medications and supplies as <span style="text-decoration: underline;">Dr.&nbsp;{{data.demographics.attending_physician}}</span> may deem necessary. This also acts as consent for the medical treatment of a minor when signed and witnessed
    below by a legal guardian and the minor child.
  </p>
  <br>


  <p><strong>Authorization for Release of Medical Information:</strong>
  </p>


  <p>Authorization is hereby granted for <span style="text-decoration: underline;">Dr.&nbsp;{{data.demographics.attending_physician}}</span> and/or his/her staff to release to the undersigned individual's insurance company or companies, their agents
    or other third party payers, all confidential information (including copies of confidential medical/mental health records) as may be requested or necessary for the completion of claim processing related to my treatment.</p>


  <p>The undersigned authorizes the direct payment of fees due to Decker Hospital and <span style="text-decoration: underline;">{{data.consent_to_care.payee}}</span> for services rendered, by the undersigned. I understand that I am financially responsible
    for services rendered monthly.</p>
  <br>


  <div class="row" style="text-align: center;">
    <div class="col-sm-2" style="border-bottom: 2px solid;">
      {{data.consent_to_care.consent_date}}
    </div>


    <div class="col-sm-6 handwritten col-md-offset-1" style="border-bottom: 2px solid;">
      {{data.consent_to_care.signatory}}
    </div>

    <div class="col-sm-2 col-md-offset-1" style="border-bottom: 2px solid;">
      {{data.consent_to_care.relationship_to_patient}}
    </div>
  </div>


  <div class="row">
    <div class="col-sm-2">
      Date
    </div>

    <div class="col-sm-6 col-md-offset-1">
      Patient / Legal Guardian
    </div>

    <div class="col-sm-2 col-md-offset-1">
      Relationship to Patient
    </div>
  </div>
  <br>


  <div class="row" style="text-align: center;">
    <div class="col-sm-2" style="border-bottom: 2px solid;">
      {{data.consent_to_care.consent_time}}
    </div>

    <div class="col-sm-6 handwritten col-md-offset-1" style="border-bottom: 2px solid;">
      {{data.consent_to_care.witnessing_staff}}
    </div>
  </div>


  <div class="row">
    <div class="col-sm-2">
      Time
    </div>

    <div class="col-sm-6 col-md-offset-1">
      Witnessing Staff
    </div>
  </div>
</div>
