<div class="container">
  <div class="row fieldlist">
    <div class="col-sm-4">
      <span>Unit:</span> {{data.patient_information_form.healthcare_facility}}
    </div>
    <div class="col-sm-4">
      <span>Acct #:</span> {{data.misc.account}}
    </div>
    <div class="col-sm-4">
      <span>DOB:</span> {{data.demographics.date_of_birth}}
    </div>
  </div>

  <div class="row fieldlist">
    <div class="col-sm-4">
      <span>Name:</span> {{data.patient_information_form.first_name}} {{data.patient_information_form.last_name}}
    </div>
    <div class="col-sm-4">
      <span>MR #:</span> {{data.patient_information_form.medical_record_number}}
    </div>
    <div class="col-sm-4">
      <span>Wt:</span> {{data.patient_information_form.weight}}
    </div>
  </div>

  <div class="row fieldlist">
    <div class="col-sm-4">
      <span>Doctor:</span> {{data.demographics.attending_physician}}
    </div>
    <div class="col-sm-4">
      <span>Admit:</span> {{data.misc.admit}}
    </div>
    <div class="col-sm-4">
      <span>Ht:</span> {{data.patient_information_form.height}}
    </div>
  </div>

  <div class="row fieldlist">
    <div class="col-sm-12">
      <span>Drug Allergies:</span> {{data.misc.drug_allergies}}
    </div>
  </div>

  <div class="row fieldlist">
    <div class="col-sm-12">
      <span>DIAGNOSIS:</span> {{data.patient_information_form.diagnosis}}
    </div>
  </div>

  <hr>
</div>