<div>
  <div class="row header">
    <div class="col-sm-3">
      CT Scan
    </div>
    <div class="col-sm-9">
      ELECTRONIC HEALTH RECORDS
    </div>
  </div>

  {{>patient_summary}}

  {{#data.ct_scan}}
  <div class="fieldlist">
      <div><span>DATE OF PROCEDURE:</span> {{procedure_date}}</div>
      <div><span>PROCEDURE:</span> {{procedure}}</div>
      <div><span>INDICATION:</span> {{indication}}</div>
      <div><span>REPORT:</span> {{report}}</div>
      <div><span>IMPRESSION:</span> {{impression}}</div>
      <div><span>DICTATED BY:</span> {{dictated_by}}</div>
  </div>
  {{/data.ct_scan}}
</div>