<div id="page-demographics-demo-joe">

  <div class="row header">
    <div class="col-sm-3">
      PATIENT DEMOGRAPHICS
    </div>
    <div class="col-sm-9">
      ELECTRONIC HEALTH RECORDS
    </div>
  </div>

  <!-- demographic data begins -->
  <div class="container-fluid demo">

    <div class="row">
      <div class="col-sm-4">
        Patient Name
      </div>

      <div class="col-sm-8">
        {{data.patient_information_form.first_name}} {{data.patient_information_form.last_name}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        Date of Birth
      </div>

      <div class="col-sm-8">
        {{data.demographics.date_of_birth}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        Medical Record Number
      </div>

      <div class="col-sm-8">
        {{data.patient_information_form.medical_record_number}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        Admitted
      </div>

      <div class="col-sm-8">
        {{data.patient_information_form.admitted_on}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        Attending Physician
      </div>

      <div class="col-sm-8">
        {{data.demographics.attending_physician}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        Unit
      </div>

      <div class="col-sm-8">
        {{data.patient_information_form.healthcare_facility}}
      </div>
    </div>

  </div>
  <div class="container-fluid demo">

    <div class="row">
      <div class="col-sm-4">
        Height
      </div>

      <div class="col-sm-8">
        {{data.patient_information_form.height}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        Weight
      </div>

      <div class="col-sm-8">
        {{data.patient_information_form.weight}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        Race
      </div>

      <div class="col-sm-8">
        {{data.patient_information_form.race}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        Gender
      </div>

      <div class="col-sm-8">
        {{data.patient_information_form.gender}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        Contact Precautions
      </div>

      <div class="col-sm-8">
        {{data.patient_information_form.contact_precautions}}
      </div>
    </div>

  </div>
  <div class="container-fluid demo">
    <div class="row">
      <div class="col-sm-4">
        Emergency Contact Name
      </div>

      <div class="col-sm-8">
        {{data.patient_information_form.emergency_contact}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        Emergency Contact Number
      </div>

      <div class="col-sm-8">
        {{data.demographics.emergency_contact_phone_number}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        Health Care Proxy
      </div>

      <div class="col-sm-8">
        {{data.patient_information_form.health_care_proxy}}&nbsp;
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        Advanced Directives
      </div>

      <div class="col-sm-8">
        {{data.patient_information_form.advanced_directives}}
      </div>
    </div>
  </div>

</div>