<div>
  <div class="row header">
    <div class="col-sm-3">
      Form
    </div>
    <div class="col-sm-9">
      ELECTRONIC HEALTH RECORDS
    </div>
  </div>

  {{>patient_summary}}
  <style>flag{color:red;}</style>
  {{#data.lab}}
  <div id="lab" class="clearfix">
  	<div style="text-align:right">
  		<div class="title">Lab</div>
  		{{#fields}}
  		<div>{{{name}}}{{^name}}&nbsp;{{/name}}</div>
  		{{/fields}}
  	</div>
    {{#sets}}
    <div>
      <div class="title"><div>VALUE</div><span>{{label}}<span></div>
      {{#data}}
      <div>{{{.}}}{{^.}}&nbsp;{{/.}}</div>
      {{/data}}
    </div>
    {{/sets}}
    {{#fields.0.units}}
  	<div>
  		<div class="title">Units</div>
  		{{#fields}}
  		<div>{{{units}}}{{^units}}&nbsp;{{/units}}</div>
  		{{/fields}}
  	</div>
    {{/fields.0.units}}
    {{#fields.0.range}}
  	<div>
  		<div class="title">Range</div>
  		{{#fields}}
  		<div>{{{range}}}{{^range}}&nbsp;{{/range}}</div>
  		{{/fields}}
  	</div>
    {{/fields.0.range}}
    {{#fields.0.normals}}
    <div>
      <div class="title">Normals</div>
      {{#fields}}
      <div>{{{normals}}}{{^normals}}&nbsp;{{/normals}}</div>
      {{/fields}}
    </div>
    {{/fields.0.normals}}
  </div>
  {{/data.lab}}
  <div>* For Flags- Use <flag>H</flag>=High, <flag>L</flag>=Low, or <flag>C</flag>=Critical</div>
</div>