<div id="page-history-and-physical">
  <div class="row header">
    <div class="col-sm-3">
      HISTORY AND PHYSICAL
    </div>
    <div class="col-sm-9">
      ELECTRONIC HEALTH RECORDS
    </div>
  </div>

  {{>patient_summary}}

  {{#data.history_and_physical}}
  <div class="fieldlist">
      <div><span>DATE COMPLETED:</span> {{completed_when}}</div>
      <div><span>HISTORY OF PRESENT CONDITION:</span> {{history_of_present_condition}}</div>
      <div><span>PAST MEDICAL HISTORY:</span> {{past_medical_history}}</div>
      <div><span>PAST SURGICAL HISTORY:</span> {{past_surgical_history}}</div>
      <div><span>SOCIAL HISTORY:</span> {{social_history}}</div>
      <div><span>REGULAR MEDICATIONS:</span> {{regular_medications}}</div>
      <div><span>IMMUNIZATIONS:</span> {{immunizations}}</div>
      <div><span>ALLERGIES:</span> {{allergies}}</div>
      <div><span>VS:</span> {{vs}}</div>
      <div><span>NEURO:</span> {{neuro}}</div>
      <div><span>HEENT:</span> {{heent}}</div>
      <div><span>CARDIAC:</span> {{cardiac}}</div>
      <div><span>RESPIRATORY:</span> {{respiratory}}</div>
      <div><span>GI:</span> {{gi}}</div>
      <div><span>GU:</span> {{gu}}</div>
      <div><span>SKIN:</span> {{skin}}</div>
      <div><span>MUSCULOSKELETAL:</span> {{musculoskeletal}}</div>
      <div><span>PLAN:</span> {{plan}}</div>
      <div><span>Dictated by::</span> {{dictated_by}}</div>
  </div>
  {{/data.history_and_physical}}
</div>