<div id="page-report-of-operation">
  <div class="row header">
    <div class="col-sm-3">
      Report of Operation
    </div>
    <div class="col-sm-9">
      ELECTRONIC HEALTH RECORDS
    </div>
  </div>

  {{>patient_summary}}
  {{#data.report_of_operation}}
  <div class="fieldlist">
    <div><span>Dictated by</span> {{dictated_by}}</div>
    <div><span>DATE OF OPERATION:</span> {{operation_date}}</div>
    <div><span>TIME OF OPERATION:</span> {{operation_time}}</div>
    <div><span>PREOPERATIVE DIAGNOSIS:</span> {{preoperative_diagnosis}}</div>
    <div><span>POSTOPERATIVE DIAGNOSIS</span> {{postoperative_diagnosis}}</div>
    <div><span>OPERATION PERFORMED:</span> {{operation_performed}}</div>
    <div><span>SURGEON:</span> {{surgeon}}</div>
    <div><span>ASSISTANT:</span> {{assistant}}</div>
    <div><span>ANESTHESIA:</span> {{anesthesia}}</div>
    <div><span>ANESTHESIOLOGIST:</span> {{anesthesiologist}}</div>
    <div><span>SPECIMEN REMOVED:</span> {{specimen_removed}}</div>
    <div><span>BLOOD LOSS:</span> {{blood_loss}}</div>
    <div><span>FINDINGS:</span> {{findings}}</div>
    <div><span>DESCRIPTION OF THE OPERATION:</span> {{description_of_the_operation}}</div>
  </div>
  {{/data.report_of_operation}}
</div>